.App {
  text-align: center;
  padding: 20px;
}

h1 {
  color:yellow;
  font-size: 2rem;
}

.student-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.student-card {
  background-color:rgb(215, 114, 25);
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.student-card h3 {
  margin-bottom: 10px;
}

.student-card p {
  margin: 5px 0;
}